$hover-color: rgba(142, 68, 173, 0.05);
;
$purple: #8e44ad;
.avatar {
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
}

.user-container {
  line-height: 40px;
  border-radius: 10px;
  &:hover {
    background-color: $hover-color;
  }
  &.selected {
    background-color: $purple;
    .fa {
      color: white;
    }
  }
}

.bordered-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px $purple;
  color: $purple;
  background-color: white;
  padding: 2px;
  cursor: pointer;
}

.fa-angle-right {
  font-size: 25px;
  color: $purple;
  cursor: pointer;
}

.icons-container {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  right: 10px;
  line-height: initial;
}
